body {
background-color: white;


}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  
  border-radius: 5px;
    position: absolute;
  top: 75px;
}

.passDiv {
 
  position: absolute;
  top: 400px;
  left: 400px;
  width: 200px;
  min-height: 200px;
  
}

.lineDiv {

  position: absolute;
  top: 400px;
  left: 650px;
  width: 200px;
  min-height: 200px;
 
}



.imageDiv {
  
  position: absolute;
  top: 125px;
  left: 500px;
  width: 250px;
  min-height: 300px;
  background-color: lightred;
}


.other {
width: 150px;
}

.now {
width: 300px;

}

.first {
  left:10px;
  }

  

  
.bigDiv {
  width: 1500px;
  height: 800px;
  overflow: hidden;
  }

.currentPeriod {
font-size: 2.75em;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;

}



.timeDateHeader {
  font-size: 2em;
    
}
.listLabel {
font-size: 1em;
font-weight: bold;

}

.name{
font-size: 1.5em;
font-weight: bold;
}

.classInfo {
  font-size: 1.5em;
  }
.classTitle {
  font-size: 1.9em;
  font-weight: bold;
  }
    .red{
    font-weight: bold;
    color: red;
  }


.otherList {
  font-size: .75em;
  }
ul { padding-left: 1.2em; }

.passBlob {
  position:relative;
  left:-50px;
  width: 500px;
  height: 200px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

/* Popup container - can be anything you want */
.passInfo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.passInfo .passPopup {
  visibility: hidden;
  position:relative;
  left:-50px;
  width: 500px;
  height: 200px;
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  
  z-index: 1;
  

}

/* Popup arrow */
.passInfo .passPopup::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.passInfo .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#imgStatus {
     width: 250px;
     height: 250px;
     border: 1px solid black;
     border-radius: 125px;
       position: absolute;
  top: 125px;
  left: 500px;
     
}



.red
{
background-color: red;
}

.yellow
{
background-color: yellow;
}

.green
{
background-color: green;
}

.blue
{
background-color: blue;
}





